<!DOCTYPE html>
<html>
  <head>
    <title>DesafioInventos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <header>
      <ul class="nav">
        <div class="container">
          <div class="row">
            <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link active" %></li>
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "Histórico de Reservas", reservas_path, class: "nav-link " %></li>
              <%if reserva_ativa.confirmation%>  
                <li class="nav-item"><%= link_to "Nova Reserva", new_reserva_path, class: "nav-link " %></li>
              <%else%>
                <li class="nav-item"><%= link_to "Minha Reserva", @reserva, class: "nav-link "%></li>
              <%end%>
              <li class="nav-item"><%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link " %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link " %></li>
              <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link " %></li>
            <% end %>
          </div>
        </div>
      </ul>
    </header>
    <main role="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>  
  </body>
</html>
